<div class="container">
    <div class="row">
        <h1>Subtraction!!</h1>
        <div class="col-4"></div>
        <div class="col-4">
            <div class="mb-3">
                <input type="text" placeholder=" enter number 1" #inp1>
            </div>
            <div class="mb-3">
                <input type="text" placeholder=" enter number 1" #inp2>

            </div>
            <div class="mb-3">
                <input type="button" value="subtract" (click)="subtract(inp1,inp2)">

            </div>
        </div>
        <div class="col-4"></div>
    </div>
 
</div>